* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* ESTILO GENERAL */
body {
  font-family: "Abel", sans-serif;
  /* Layout "macro" elegido Pancake Stack */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: linear-gradient(135deg, #b7b7b79f, #7c96abe1);
}

/* ESTILO MAIN */
.h1__black {
  color: black;
}
.main__title {
  margin: 2% auto;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  text-shadow: -5px 5px 15px -7px black;
}

.article__title {
  margin: 2% auto;
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
}

.article__text {
  text-align: justify;
  line-height: 1.75rem;
  font-size: 1.25rem;
  color: black;
}

/* ESTILO HEADER */
header {
  box-shadow: -5px 5px 15px -7px black;
}

/* ESTILO FOOTER */
footer {
  background-color: #7c96ab6e;
  color: white;
  margin-top: 2%;
}

.bi {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin: 1%;
}

.footer__i {
  color: #ffffff;
  font-size: 1.5rem;
}

.foter-bottom {
  background-color: #b7b7b79f;
  text-align: center;
  font-size: smaller;
  color: black;
}

/* btn js mostrar */
#info {
  display: block;
}

/* media queries ajuste textos */
@media (max-width: 768px) {
  .article__text {
    font-size: 1rem;
    line-height: 1;
  }
}
@media (max-width: 768px) {
  .main__title {
    font-size: 1.75rem;
    line-height: 1.5;
  }
}
@media (max-width: 768px) {
  .article__title {
    font-size: 1.25rem;
    line-height: 1;
  }
}
@media (min-width: 768px) {
  .btn {
    max-width: 40%;
  }
}
